nav{
    background: #6969ea;
    background: -webkit-linear-gradient(264deg, #6969ea 0%, #bc48ff 100%);
    background: linear-gradient(264deg, #6969ea 0%, #bc48ff 100%);
}
/* Este va a ser el boton CSS



*/
.principal{
    background: #6969ea;
    background: -webkit-linear-gradient(264deg, #6969ea 0%, #bc48ff 100%);
    background: linear-gradient(264deg, #6969ea 0%, #bc48ff 100%);
}
body{
    background-color: #b8b8ff;
}